.pp-item-inputs {
	margin-bottom: 10px;
}
.pp-item-inputs input, .pp-item-inputs textarea{
    -moz-box-sizing: border-box;
    border: 1px solid #DFDBDF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) inset;
    float: left;
    line-height: 1em;
    outline: 0 none;
    padding: 6px 6px 5px;
    font-family: Arial;
}